{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Movie{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form name="create" method="post">
    <label for="title">Title</label>
    <input name="title" id="title" value="" required><br />

    <label for="imdb_id">IMDB ID</label>
    <input name="imdb_id" id="imdb_id" value="" required><br />

    <label for="view_date">View Date</label>
    <input type="date" name="view_date" value="" required><br />

    <input type="submit" value="Save" />
  </form>
{% endblock %}
