{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Movies{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('movies.create') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for m in movies %}
    <div class="movie">
        <div class="header">
          <h1>{{ m['title'] }}</h1>&nbsp;
          <span class="about">by {{ m['username'] }} on {{ m['create_date'].strftime('%Y-%m-%d') }}</span>
        {% if g.user['id'] == m['author_id'] %}
          <a class="action" href="{{ url_for('movies.update', id=m['id']) }}">Edit</a>
        {% endif %}
        </div>
        <div class="body">
          <div class="poster">
            <a href="https://imdb.com/title/{{ m['imdb_id'] }}/" target="_blank">
              <img width='100px' src="{{ url_for('static', filename='posters/{}.jpg'.format(m['imdb_id'])) }}" /></a>
          </div>
          <div class="text">
            <p>{{ m['description'] }}</p>
            <p>Scheduled Viewing: {{ m['view_date'] }}</p>
          </div>
        </div>
    </div>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}
