{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit "{{ movie['title'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="title">Title</label>
    <input name="title" id="title" value="{{ movie['title'] }}" required><br />

    <label for="imdb_id">IMDB ID</label>
    <input name="imdb_id" id="imdb_id" value="{{ movie['imdb_id'] }}" required><br />

    <label for="view_date">View Date</label>
    <input type="date" name="view_date" value="{{ movie['view_date'] }}" required>

    <input type="submit" value="Save">
  </form>
  <hr>
  <form action="{{ url_for('movies.delete', id=movie['id']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}
